@model List<ColaboradorModel>
@{
    ViewData["Title"] = "Colaboradores";
}

<h1 class="display-4">Colaboradores</h1>
<a type="button" class="btn btn-success" asp-controller="Colaboradores" asp-action="Criar">Criar</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Empresa</th>
            <th scope="col">Email</th>
            <th scope="col">Usuario</th>
            <th scope="col">Departamento</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var t in @Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>@t.Nome</td>
                <td>@t.Empresa</td>
                <td>@t.Email</td>
                <td>@t.Cargo</td>
                <td>@t.Departamento</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                        <button type="button" class="btn btn-danger">Remover</button>
                        <button type="button" class="btn btn-primary">Editar</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>